* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headtop {
    background-color: #5040e0;
}

.link {
    display: flex;
    justify-content: space-around;
}

.link:hover {
    color: #50b9c0
}